body{
  background-color: rgba(140, 141, 161, 0.425);
}

/*the main page grids layout*/
.mainContainer{
display:grid;
grid-template-columns: 1fr 3fr 2fr;
grid-column-gap:30px;
}

/*Tie-in bar gids layout*/
.container{
display: flex;
flex-direction: column;
}  

/*set the tie-in and search bars */
.base {
  background-color: #fff;
  padding: 15px;
  height: 100%;
}

/*search bar layout
#main{
  background-color: #fff;
  padding: 15px;
  height: 700px;
}*/

/*the marging between the input request box and saved text box*/
.box {
  border-radius: 4px;
  margin-bottom: 20px;
}

/* request box layout*/
.box__big {
  height: 220px;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
}
/*
.box__small {
  height: 180px;
  padding: 11px 14px;
}
*/

/*request box input*/
.box__big input[type="text"] {
  width: 500px;
  height: 120px;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
  font-size:15px;
  margin-left: 10px;
  outline: none;
  padding-bottom: 100px;
}
/*request box button*/
.box__big button[type="submit"] {
  width: 20%;
  height: 6px;
  padding: 15px;
  background-color: #3681cc;
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff;
  line-height:1px;
  border-radius: 15px;
  margin-left: 440px;
  outline: none;
}


/**/
.searchBar input[type="text"] {
  width: 200px;
  height: 20px;
  background-color: #92b1cf;
  outline: none;
}

.tie-in-btn input[type="submit"] {
  width: 80px;
  height: 6px;
  padding: 10px;
  background-color: #3681cc;
  font-size: 13px;
  color: #ffffff;
  line-height:1px;
  border-radius: 15px;
  margin-left: 500px;
  margin-top: 35px;
  outline: none;
}


/*flexbox setting of the profile and services links in tie-in bar*/
.links-container{
    display: flex;
    flex-direction: column;
    border-left: 2px solid #92b1cf;
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 60px;
    padding-top: 12px;
}

a {
    font-size: 24px;
    color: rgb(56, 121, 219);
    padding-bottom: 20px;
    padding-top: 20px;
}

/*saved request text box*/
.savedRequest{
  width: 600px;
  height: 100px;
  background-color:white;
  border:1px solid#d3d3d3;
  padding: 1px;
  border-radius: 4px;
}
/*saearch bar input
.searchBar input[type="submit"] {
  width: 19px;
  margin: 9px;
  padding: 7px 9px;
  border-radius: 40px;
  border: 1px solid #000000;
  box-shadow: 1px 0.5px #888888; 
  font-size: 14px;
  left: 1320px;
  top: 37px;
}*/

.search-btn{
  width: 20%;
  height: 6px;
  padding: 15px;
  background-color: #3681cc;
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff;
  line-height:1px;
  border-radius: 15px;
}

.signup-btn{ margin-left: 560px;
  width: 10%;
  height: 6px;
  padding: 15px;
  background-color: #3681cc;
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff;
  line-height:1px;
  border-radius: 15px;}

  .login-btn{ margin-left: 560px;
    width: 10%;
    height: 6px;
    padding: 15px;
    background-color: #3681cc;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    line-height:1px;
    border-radius: 15px;
}
.login_page{ margin-left: 500px;
  font-size: 40px;
  color:#3681cc;
  line-height:1px;
  border-radius: 15px;}

.email{ 
  width: 20%;
  height: 6px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height:1px;
  border-radius: 15px;
}
.password{ margin-left: 490px;
  width: 20%;
  height: 6px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height:1px;
  border-radius: 15px;
}
.label1{ margin-left: 490px;
  line-height:1px;
  padding-top: 25px;
  font-size: 15px;
  color:black;
}
.label2{ margin-left: 490px;
  font-size: 15px;
  color:black;
  line-height:1px;
  border-radius: 15px;}

  .logup-btn{ margin-left: 560px;
    width: 10%;
    height: 6px;
    padding: 15px;
    background-color: #3681cc;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    line-height:1px;
    border-radius: 15px;
}
.logup_page{ margin-left: 500px;
  font-size: 40px;
  color:#3681cc;
  line-height:1px;
  border-radius: 15px;}

.nameup { margin-left: 500px;
  width: 20%;
  height: 6px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height:1px;
  border-radius: 15px;
}

.emailup { margin-left: 500px;
  width: 20%;
  height: 6px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height:1px;
  border-radius: 15px;
}
.passwordup { margin-left: 500px;
  width: 20%;
  height: 6px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  line-height:1px;
  border-radius: 15px;
}


