h1 {font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-align: left;
    line-height:0px;
}

.logo {
    animation: rotation 8s infinite linear;
    
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
