/*my profile component*/
.userProfile{
    background-color: white;
    height: 200px;
    margin-left: 20px;
}

.sent-request{
    background-color: rgb(229, 229, 238);
}

/*my profile bar and sent request bar*/
.myProfile-bar{
    display: flex;
    height: 40px;
    border: 1px solid black;
    padding: 8px;
    margin: 20px;
    background-color: black;  
}

.sent-request-bar{                 
    display: flex;
    height: 40px;
    border: 1px solid black;
    padding: 8px;
    margin: 20px;
    background-color: black;  
}
/*text inside my profile bar*/
p{
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: auto; 
    font-size: medium;   
}
/*profile image
img {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin-left: 40px;
  }*/

/*profile infos*/
  .infos{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
  }

  .email{
    margin-top: 50px;
    margin-right: 20px;    
}

.userName{
    font-size: xx-large;
    
}

.profile-component {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-column-gap:30px;
}

.edit-save-btn{
    margin-left: 540px;
    width: 70px;
    height: 6px;
    padding: 15px;
    background-color: #3681cc;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffffff;
    line-height:1px;
    border-radius: 15px;
}

/*profileField component input*/
input {
    width: 120px;
}

.infos2 {
    background-color: rgb(255, 255, 255);
    height: 230px;
}

.posts {
    display: flex;
    flex-direction: column;
    color:white ;
    height: 40px;
    padding: 8px;
    margin: 20px;
    background-color:#3681cc; 
    border-radius: 5px;
}
.services {
    display: flex;
    flex-direction: column;
    color: white;
    height: 40px;
    padding: 8px;
    margin: 20px;
    background-color:#3681cc; 
    border-radius: 5px;
}
.points {
    display: flex;
    flex-direction: column;
    color:white;
    height: 40px;
    padding: 8px;
    margin: 20px;
    background-color:#3681cc; 
    border-radius: 5px;
}